<ion-header [style.visibility]="content_visibility">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ScanQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>
        <h1>
          Scanear QR
        </h1>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-img src="https://www.ocu.org/-/media/ta/images/qr-code.png" alt="imagen QR"></ion-img>
    </ion-item>
    <ion-button
    type="button"
    (click)="startScan()"
    expand="block"
    color="primary"
    >Scan QR</ion-button>
    <ion-item *ngIf="scannerResultado">
      <ion-label class="ion-text-wrap">
        <h2>
          Resultado del scaner:
        </h2>
        <p>
          {{scannerResultado}}
        </p>
      </ion-label>
    </ion-item>
    <ion-button
    color="success"
    *ngIf="scannerResultado"
    expand="block"
    (click)="resultado()"
    >Ver Resultado</ion-button>
  </ion-list>

</ion-content>
