<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ScanQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>
          Scanear QR
        </h1>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-img src="../../../assets//imgs/qr-code.jpg"></ion-img>
    </ion-item>
    <ion-button
    type="button"
    (click)="startScan()"
    expand="block"
    color="primary"
    >Scan QR</ion-button>
    <ion-item *ngIf="scannerResultado">
      <ion-label>
        <h2>
          Resultado del scaner: {{scannerResultado}}
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
