<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Regist QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>
          <h1>
            Login
          </h1>
        </ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form novalidate [formGroup]="formularioLogin" (ngSubmit)="login()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
            <div class="container-message-errors" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
              <ion-note color="danger" *ngIf="correo.errors.required">Este campo es requerido</ion-note>
              <ion-note color="danger" *ngIf="correo.errors.email">Tiene que ingresar un direccion de correo valida</ion-note>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="contrasenia"></ion-input>
            <div class="container-message-errors" *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)">
              <ion-note color="danger" *ngIf="contrasenia.errors.required">Este campo es requerido</ion-note>
              <ion-note color="danger" *ngIf="contrasenia.errors.minlength">Tiene que ser minimo 8 caracteres</ion-note>
              <ion-note color="danger" *ngIf="contrasenia.errors.maxlength">Tiene que ser maximo 16 caracteres</ion-note>
            </div>
          </ion-item>
          <ion-button
          color="success"
          type="submit"
          expand="block"
          [disabled]="formularioLogin.invalid"
          >Login</ion-button>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button slot="2" color="success" [routerLink]="['/register']">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
